// Header

#body-inicio #header {
  .section__title {
    animation: show-from .5s 1.75s both;
  }
  .subtitle {
    animation: show-from .5s 2s both;
  }
  .description > p {
    animation: show-from .5s 2.25s both;
  }
  .description > .buttons {
    animation: show-from .5s 2.5s both;
  }
}

// Sections

#formacion h3 {
  font-size: 1.4em;
}

#servicios {
  .columns {
    --column-header-size: 0.714;
  }
}

// Blog

.logo__title {
  color: $dark;
}